version: '3.9'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: pharmacy_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  medicines_service:
    build: ./medicines_service
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_URL=${POSTGRES_URL}
      - AMQP_URL=${AMQP_URL}
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - app-network

  users_service:
    build: ./users_service
    ports:
      - "8001:8000"
    environment:
      - POSTGRES_URL=${POSTGRES_URL}
      - AMQP_URL=${AMQP_URL}
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - app-network

  # ТЕСТОВАЯ БД — ДОЛЖНА БЫТЬ ВНУТРИ services!
  test_db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: testpass
      POSTGRES_USER: testuser
      POSTGRES_DB: test_pharmacy_db
    ports:
      - "5433:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge